<app-loading [loading]="loading" [failed]="failed"></app-loading>
<div class="app">
  <div class="breadcrumb">
    <span class="breadcrumb__root">
      <a routerLink="/">{{ conf.name }}</a>
    </span>
    <span class="breadcrumb__separator">/</span>
    <ng-container *ngFor="let dir of pathArray;let i = index">
      <span class="breadcrumb__directory"
            [class]="{ 'last-one': pathArray.length === i + 1}">
        <a [routerLink]="'/' + pathArray.slice(0, i+1).join('/')">
          {{ dir }}
        </a>
      </span>
      <span class="breadcrumb__separator">/</span>
    </ng-container>
  </div>
  <ul *ngIf="files !== null"
      class="files menu">
    <ng-container *ngIf="pathArray.length > 0">
      <app-item
        type="directory"
        name=".."
        [path]="'/' + pathArray.slice(0, -1).join('/')"
      ></app-item>
    </ng-container>
    <app-item
      *ngFor="let file of files"
      [type]="file.type"
      [name]="file.name"
      [path]="(path !== '/' ? path : '') + '/' + file.name"
      [mtime]="file.mtime"
      [size]="file.type === 'file' ? file.size : undefined"
    ></app-item>
  </ul>
</div>
