<loading [loading]="loading" [failed]="failed"></loading>
<div class="app">
  <div class="breadcrumb">
    <span class="breadcrumb__root">
      <a routerLink="/">{{ conf.name }}</a>
    </span>
    <span class="breadcrumb__separator">/</span>
    <ng-container *ngFor="let dir of pathArray;let i = index">
      <span class="breadcrumb__directory"
            [class]="{ 'last-one': pathArray.length === i + 1}">
        <a [routerLink]="'/' + pathArray.slice(0, i+1).join('/')">
          {{ dir }}
        </a>
      </span>
      <span class="breadcrumb__separator">/</span>
    </ng-container>
  </div>
  <ul *ngIf="files !== null"
      class="files menu">
    <ng-container *ngIf="pathArray.length > 0">
      <directory name=".." [path]="'/' + pathArray.slice(0, -1).join('/')">
      </directory>
    </ng-container>
    <ng-container *ngFor="let file of files">
      <directory
        *ngIf="file.type === 'directory'"
        icon="file-directory"
        [name]="file.name"
        [path]="(path !== '/' ? path : '') + '/' + file.name"
        [mtime]="file.mtime">
      </directory>
      <file
        *ngIf="file.type === 'file'"
        icon="file-text"
        [path]="(path !== '/' ? path : '') + '/' + file.name"
        [name]="file.name"
        [mtime]="file.mtime"
        [size]="file.size">
      </file>
    </ng-container>
  </ul>
</div>
