<li class="files__directory menu-item columns">
  <div class="flex-table-item flex-table-item-primary">
    <div class="files__icon-container">
      <span *ngIf="icon" class="octicon octicon-{{ icon }}"></span>
    </div>
    <a [routerLink]="path">{{ name }}</a>
  </div>
  <div *ngFor="let k of keys" class="flex-table-item pr-1 text-right">
    <ng-container *ngIf="visibilityOptions[k]['use']">
      {{ showPropertyWrapper(k, visibilityOptions[k], {date: this.mtime}) }}
    </ng-container>
  </div>
</li>
